# Окружение [dev, prod]:
APP_ENV=dev

# URI по умолчанию:
DEFAULT_URI=note-pet-php.docker.local

# Режим отладки [при 1 выводит приветственную страницу]:
APP_DEBUG=0

# Разворачивание проекта на MACOS с чипом M1:
APPLE_SILICON=0

# Путь до корня приложения:
PROJECT_PATH=/pub/www/app

# Хост приложения:
SERVER_NAME=note-pet-php.docker.local

# Версия POSTGRES [указать версию postgres соответствующей сборки]:
POSTGRES_VERSION=15.3-alpine

# База данных [DB_HOST/DB_DATABASE зафиксировано]:
DB_HOST=database
DB_USER=login
DB_PASSWORD=pass
DB_DATABASE=postgres

# Секретный ключ:
APP_SECRET=203b7c7a8fcf0cb6631cebde2a6946d2

# SMTP-сервер:
MAILER_DSN=smtp://mailhog:1025

# Доступ к базе данных для доктрины:
# DATABASE_URL="postgresql://DB_USER:DB_PASSWORD@DB_HOST:5432/DB_DATABASE?serverVersion=15&charset=utf8"
DATABASE_URL="postgresql://login:pass@database:5432/postgres?serverVersion=15&charset=utf8"

# Регистрация транспорта сообщений:
MESSENGER_TRANSPORT_DSN=doctrine://default

# Часовой пояс:
TZ=Europe/Moscow

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&charset=utf8mb4"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"
###< doctrine/doctrine-bundle ###
